.trae/documents
.trae/skills
!.trae/skills/strategy-generator
!.trae/skills/strategy-optimizer

.deveco

__pycache__/
logs/*

.cache
.workbuddy

*.txt

.codebuddy



backtest_results

config/

/strategies_for_vip/
/strategies_for_svip/
/strategies_tmp/
/strategies_my/

web/strategy_display_names.json

*days_report.html

test_minute_hfq_inference.py

*debug*
*compare*
*fix*
*check*
*verify*
*reverse*

*promo*
*my*

*test*

**/generate_report.py

xiaohongshu